{% extends "ui/user_base.html" %}
{% load i18n %}

{% block title %}NewsDashboard –  UI{% endblock %}
{% block page_heading %}NewsDashboard{% endblock %}

{% block extra_css %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div id="main-content" class='z-10'>
    {# ─────────────────────── DASHBOARD TAB ─────────────────────── #}
    {% include "./partials/dashboard_section.html" %}

  
    
     {# ─────────────────────── MESSAGES TAB ─────────────────────── #}
    {% include "./partials/messages_section.html" %}

   
  </div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  


<script>
  {% comment %} {% include "./partials/quickactions.js" %} {% endcomment %}
  {% include "./partials/messages.js" %}

</script>

{% endblock %}
